.jumbotron{
    margin: 30px;
}

h2{
    margin: 30px;    
}
ul{
    margin: 30px;
}

.container{
    margin: 30px;
}

.media{
    margin: 30px;
}

.card-group{
    margin: 30px;
}

.researchImages{

    height:300px;
    width: 300px;
    margin:30px;
}

.problemStatement{
   
}
